BR2_arm=y
BR2_arm920t=y
BR2_KERNEL_HEADERS_2_6_39=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_ROOTFS_STATIC_DEVICE_TABLE="board/friendlyarm/mini2440/device_table_dev.txt"
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="board/friendlyarm/mini2440/skeleton"
BR2_PACKAGE_OPENSSH=y
BR2_TARGET_ROOTFS_JFFS2=y
BR2_TARGET_ROOTFS_JFFS2_NANDFLASH_2K_128K=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_PATCH="board/friendlyarm/mini2440/linux-2.6.39.4-patch/"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/friendlyarm/mini2440/linux-2.6.39.4.config"
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="3.0.4"
BR2_LINUX_KERNEL_UIMAGE=y
